<h2 id='title'>Issues</h2>

<ul>
  {{#each issue in model}}
    <li>
      {{issue.title}} (# of features: {{issue.features.length}})
    </li>
  {{/each}}
</ul>

<button {{action 'loadFeatures'}}>Load features</button>
<button {{action 'clearDatabase'}}>Clear database</button>
